<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link href="camera/bootstrap/css/bootstrap.css" rel="stylesheet" />
		<link href="camera/image-upload.css" rel="stylesheet" />
		<link href="camera/layer/skin/layer.css" rel="stylesheet" />
		<link href="../../js/mui/css/mui.css" type="text/css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../js/mui/css/mui.picker.min.css" />
		<link rel="stylesheet" href="../../style/weui.css" />
		<link rel="stylesheet" href="../../fonts/iconfont.css" />
		<link rel="stylesheet" href="../../style/style.css" />
		<link rel="stylesheet" href="../../js/actionSelect/district-select.css" />
		<script src="../../js/flexible.js"></script>
		<style>
			.old-barcode-list{
				position: absolute;
				z-index: 100;
				top:20px;
				left:10px;
				width:80%;
				display:none;
			}
			.mui-navigate-right{
				padding-right: 0px !important;
			}
			.mui-table-view-cell{
				padding-right:0px !important;
				margin-right:0px !important;
			}
			.mui-table-view:before{
				height:0;
			}
			.mui-table-view:after{
				height:0;
			}
			.mui-input-group:after{
				height:0;
			}
			.two-button{
				width:45%;
				height:45px;
			}
			.split-button{
				margin-left:5%;
			}
			.three-button{
				width:30%;
				height:45px;
			}
			.three-split-button{
				margin-left:3%;
			}
		</style>
	</head>

	<body ontouchstart>
		<header class="pui-header">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="margin-top: 12px;"></a>
			<h1 class="pui-title">出门证申请</h1>
		</header>
		<div class="ui-wrap" style="background-color: #fff;display:none;" id="app" :style="isReady?'display:block;':'display:none;'">
			<form class="mui-input-group" style="width: 100%; border-bottom: 0;" id="outdoorForm" enctype="multipart/form-data">
				<div class="ui-wrap">
					<div class="qk-form">
						<div class="weui-cell weui-cell_access" style="height: 50px;">
							<div class="qk-label"><span class="text-red">*</span> 单号</div>
							<div class="weui-cell__bd" style="padding-right:18px;">
								<input id="orderNo" name="orderNo" v-model="form.orderNo" readonly dir="rtl" maxlength="50" style="width: 100%;">
							</div>
						</div>
						<div class="weui-cell weui-cell_access" style="height: 50px;">
							<div class="qk-label"><span class="text-red">*</span> 仓库</div>
							<div class="weui-cell__bd">
								<select v-model="form.warehouseCode" dir="rtl" style="width: 100%;margin-top: 15x;font-size: 13pt;margin-top:20px;">
									<option v-for="(item,index) in warehouseOptions" :key="item.code" :value="item.code">{{ item.code + '-' + item.name }}</option>
								</select>
							</div>
						</div>
						<div class="weui-cell weui-cell_access" style="height: 50px;">
							<div class="qk-label"><span class="text-red">*</span> 持物人</div>
							<div class="weui-cell__bd" style="padding-right:18px;">
								<input :readonly="readonly" id="holderName" v-model="form.holderName" name="holderName" dir="rtl" maxlength="10"
								 style="width: 100%;margin-top: 15x;">
							</div>
						</div>
						<div class="weui-cell weui-cell_access" style="height: 50px;">
							<div class="qk-label"><span class="text-red">*</span> 持物部门</div>
							<div class="weui-cell__bd">
								<input :readonly="readonly" id="holderOrgId" type="hidden" name="holderOrgId" v-model="form.holderOrgId" dir="rtl"
								 style="width: 100%;margin-top: 15x;">
							</div>
						</div>
						<div class="weui-cell weui-cell_access" style="height: 50px;">
							<div class="qk-label"><span class="text-red">*</span> 物资类型</div>
							<div class="weui-cell__bd">
								<select v-model="form.materialTypeCode" :disabled="readonly" dir="rtl" style="width: 100%;margin-top: 15x;font-size: 13pt;margin-top:20px;">
									<option v-for="(item,index) in materialTypeOptions" :value="item.code" :key="item.code">{{item.name}}</option>
								</select>
							</div>
						</div>
						<div class="weui-cell weui-cell_access" style="height: 50px;">
							<div class="qk-label"><span class="text-red">*</span> 司机</div>
							<div class="weui-cell__bd" style="padding-right:18px;">
								<input :readonly="readonly" id="driverName" name="driverName" v-model="form.driverName" dir="rtl" maxlength="10"
								 style="width: 100%;margin-top: 15x;">
							</div>
						</div>
						<div class="weui-cell weui-cell_access" style="height: 50px;">
							<div class="qk-label"><span class="text-red">*</span> 证件类型</div>
							<div class="weui-cell__bd">
								<select v-model="form.driverCardTypeCode" :disabled="readonly" dir="rtl" style="width: 100%;margin-top: 15x;font-size: 13pt;margin-top:20px;">
									<option v-for="(item,index) in driverCardTypeOptions" :key="item.code" :value="item.code">{{item.name}}</option>
								</select>
							</div>
						</div>
						<div class="weui-cell weui-cell_access" style="height: 50px;">
							<div class="qk-label"><span class="text-red">*</span> 证件号</div>
							<div class="weui-cell__bd" style="padding-right:18px;">
								<input :readonly="readonly" id="driverCardId" v-model="form.driverCardId" name="driverCardId" dir="rtl"
								 maxlength="30" style="width: 100%;margin-top: 15x;">
							</div>
						</div>
						<div class="weui-cell weui-cell_access" style="height: 50px;">
							<div class="qk-label"><span class="text-red">*</span> 车牌号</div>
							<div class="weui-cell__bd" style="padding-right:18px;">
								<input :readonly="readonly" id="license" name="license" v-model="form.license" dir="rtl" maxlength="10" style="width: 100%;margin-top: 15x;">
							</div>
						</div>

						<div class="weui-cell weui-cell_access" style="height: 50px;">
							<div class="qk-label"><span class="text-red">*</span> 出厂原因</div>
							<div class="weui-cell__bd" style="padding-right:18px;">
								<input :readonly="readonly" id="reason" name="reason" v-model="form.reason" dir="rtl" maxlength="10" style="width: 100%;margin-top: 15x;">
							</div>
						</div>
						<div class="weui-cell weui-cell_access" style="height: 50px;">
							<div class="qk-label" style="border: 0 !important;">扫码添加物料[总数:<span style="color:red">{{total}}</span>/物料:<span
								 style="color:red">{{form.materialList.length}}</span>]</div><input type="hidden" id="codeScan" />
						</div>

						<ul class="mui-table-view">
							<li class="mui-table-view-cell mui-collapse" v-for="item in form.materialList" :key="item.materialCode">
								<a style="display:block;width:100%;" class="mui-navigate-right" href="javascript:;">
									<div style="width:100%;position: relative;">
										{{item.materialCode}}
										<p>{{item.materialName}}</p>
										<button v-if="!readonly" type="button" class="mui-btn mui-btn-danger mui-btn-outlined" style="position: absolute;right:30px;top:10px"
										 @click="deleteMaterial(item)">删除</button>
										<span class="mui-badge mui-badge-primary" style="position: absolute;right:90px;top:15px">{{calcMaterialCount(item)}}</span>
									</div>
								</a>
								<div class="mui-collapse-content">
									<ul class="mui-table-view">
										<li class="mui-table-view-cell" v-for="barcode in item.barcodeList">
											{{barcode.barcode}}
											<button v-if="!readonly" type="button" class="mui-btn mui-btn-danger mui-btn-outlined" @click="deleteBarcode(barcode,item)">删除</button>
											<span class="mui-badge mui-badge-primary" style="position: absolute;right:80px;top:25px">{{barcode.materialCount}}</span>
										</li>
									</ul>
								</div>
							</li>
						</ul>
					</div>
					<div class="weui-cell" >
						<div class="qk-label">审批流程</div>
						<div class="weui-cell__bd" style="text-align: left;padding-left:20px;">
							<div class="weui-cell__ft" v-for="item in auditList" style="text-align: left;"><span style="color: #000000;"> {{ item.status }}
								</span>·<span style="color: #00A4EE;"> {{ item.userName }} </span> {{ item.time }} </div>
						</div>
					</div>
					<div class="weui-cell" style="display: none;" :style="isReady && form.files.length?'display:block':'display:none'">
						<div class="weui-cell__bd">
							结单司机照片
							<div class="weui-cell" style="padding:0px 10px;">
								<input type="hidden" id="images" />
							</div>
						</div>
					</div>
					<div v-if="!readonly" class="button-qk-area" style="margin-bottom: 20px;border-top:1px solid rgba(0, 0, 0, 0.1);padding-top:10px;">
						<button class="mui-btn" :class="form.status !==-1&& form.id?'three-button':'two-button'" type="button" @click="saveData()">保存</button>
						<button v-if="form.status !== -1 && form.id" class="mui-btn mui-btn-danger three-button three-split-button" type="button"
						 @click="invalid()">废弃</button>
						<button class="mui-btn mui-btn-primary" :class="form.status !==-1&& form.id?'three-button three-split-button':'two-button split-button'"
						 type="button" @click="submitData()">提交</button>
					</div>
				</div>


				<div id="sheet1" class="mui-popover mui-popover-bottom mui-popover-action ">
					<!-- 可选择菜单 -->
					<ul class="mui-table-view">
						<li class="mui-table-view-cell" v-for="item in oldBarcodeList" :key="item.barcode">
							<a href="#">{{item.barcode}}</a>
						</li>
					</ul>
					<!-- 取消菜单 -->
					<ul class="mui-table-view">
						<li class="mui-table-view-cell">
							<a href="#sheet1"><b>取消</b></a>
						</li>
					</ul>
				</div>
			</form>
		</div>
		<script type="text/javascript" src="camera/jquery-2.1.4.js"></script>
		<script type="text/javascript" src="../../js/plugins/zepto.min.js"></script>
		<script type="text/javascript" src="../../js/mui/js/mui.js"></script>
		<script type="text/javascript" src="../../js/util.js"></script>
		<script type="text/javascript" src="../../js/mui/js/mui.picker.min.js"></script>
		<script type="text/javascript" src="../../js/vue.js"></script>
		<script type="text/javascript" src="../../js/control.js"></script>
		<script type="text/javascript" src="../../js/actionSelect/district-select.js"></script>
		<script type="text/javascript" src="../../js/codescan/jquery.code-scan.js"></script>
		<script type="text/javascript" src="camera/layer/layer.js"></script>
		<script type="text/javascript" src="camera/toBase64.js"></script>
		<script type="text/javascript" src="camera/image-upload.js"></script>
		<script src="camera/jquery-weui.min.js"></script>
		<script type="text/javascript">
			var Page = {
				vue: null,
				initVue: function(data) {
					var that = this;
					var form = {
						id: null,
						orderNo: null,
						holderName: null,
						holderOrgId: null,
						driverName: null,
						driverCardTypeCode: null,
						materialTypeCode: null,
						driverCardId: null,
						license: null,
						warehouseCode: null,
						reason: null,
						materialList: [],
						status: -1,
						applyUserId: 0,
						auditUserName: null,
						approveUserName: null,
						auditTime: null,
						approveTime: null,
						files: [],
						endUserName: null,
						endTime: null
					};
					if (data) {
						$.extend(form, data);
					}

					this.vue = new Vue({
						el: '#app',
						data: function() {
							return {
								auditList: [],
								isReady: true,
								readonly: form.status != 0 && form.status != 6 && form.status != -1,
								form: form,
								materialTypeOptions: [],
								driverCardTypeOptions: [],
								holderOrgOptions: [],
								warehouseOptions: [],
								total: 0,
								oldBarcodeList: []
							}
						},
						computed: {
							warehouseCode: function() {
								return this.form.warehouseCode;
							}
						},
						watch: {
							warehouseCode: {
								immediate: true,
								handler(newValue, oldValue) {
									if(oldValue){
										that.getOrderNo(this.form.warehouseCode)
									}									
								}
							}
						},
						created: function() {
							this.calcTotal();
							this.getAuditList(this.form.applyUserId || 0);

						},
						mounted: function() {
							if (this.form.files && this.form.files.length) {
								$.each(this.form.files, function() {
									this.path = this.url
								})
								$("#images").val(JSON.stringify(this.form.files));
								var upload = new ImageUpload({
									dom: "#images",
									readonly: true,
									loadUrl: util.HOST_NAME + "/uploads/"
								});
							}
						},
						methods: {
							// 删除物料
							deleteMaterial: function(item) {
								var index = -1;
								$.each(this.form.materialList, function(i, elem) {
									if (elem.materialCode === item.materialCode) {
										index = i;
										return false;
									}
								});
								if (index > -1) {
									this.form.materialList.splice(index, 1)
									this.calcTotal();
								}
							},
							// 删除条码
							deleteBarcode: function(barcode, item) {
								var index = -1;
								$.each(item.barcodeList, function(i, elem) {
									if (elem.barcode === barcode.barcode) {
										index = i;
										return false;
									}
								});
								if (index > -1) {
									item.barcodeList.splice(index, 1);
									if (!item.barcodeList.length) {
										this.deleteMaterial(item);
										this.calcTotal();
									}
								}
							},
							barcodeExist: function(barcode) {
								var exist = false;
								$.each(this.form.materialList, function(i, elem) {
									if (elem.barcodeList && !exist) {
										$.each(elem.barcodeList, function(m, el) {
											if (el.barcode === barcode) {
												exist = true;
												return false;
											}
										})
									}
								});
								return exist;
							},
							addBarcode: function(barcodeInfo) {
								// exist barcode
								if (!this.barcodeExist(barcodeInfo.barcode)) {
									var material = null;
									$.each(this.form.materialList, function() {
										if (this.materialCode === barcodeInfo.materialCode) {
											material = this;
											return false;
										}
									})

									if (!material) {
										// new material
										material = {
											id: null,
											materialCode: barcodeInfo.materialCode,
											materialName: barcodeInfo.materialName,
											materialCount: 0,
											orderNo: this.form.orderNo,
											sort: this.getMaxSort() + 1,
											remark: null,
											materialUnit: barcodeInfo.materialUnit,
											barcodeList: []
										};
										this.form.materialList.push(material);

									}
									material.barcodeList.push({
										id: null,
										barcode: barcodeInfo.barcode,
										materialCount: barcodeInfo.materialCount,
										outdoorMaterialId: null,
										materialUnit: barcodeInfo.materialUnit,
										materialName: barcodeInfo.materialName
									});
									// calc total count
									var total = 0;
									$.each(material.barcodeList, function() {
										total += this.materialCount
									});
									material.materialCount = total;
									this.calcTotal();

								} else {
									mui.toast("条码已存在！");
								}
							},
							calcTotal: function() {
								var total = 0;
								$.each(this.form.materialList, function() {
									total += this.materialCount;
								});
								this.total = total;
							},
							saveData: function() {
								this.form.status = 0;
								util.ajax({
									url: this.form.id ? "/outdoor/" + this.form.id : "/outdoor",
									data: JSON.stringify(this.form),
									type: this.form.id ? "put" : "POST",
									contentType: 'application/json',
									dataType: 'json',
									success: function(data) {
										if (data && data.success === false) {
											mui.toast(data.message);
										} else {
											Page.back();
										}
									},
									error: function() {
										mui.toast("数据保存失败！")
									}
								});
							},
							invalid: function() {
								var that = this;
								mui.confirm("确认为作废此单据吗？", "作废提醒", ["确定", "取消"], function(e) {
									if (e.index == 0) {
										util.ajax({
											url: '/outdoor/' + that.form.id + '/invalid',
											type: "put",
											contentType: 'application/json',
											dataType: 'json',
											data: JSON.stringify(that.form),
											success: function(data) {
												if (data && data.success === false) {
													mui.toast(data.message);
												} else {
													Page.back();
												}
											},
											error: function() {
												mui.toast("数据保存失败！")
											}
										});
									}
								})
							},
							calcMaterialCount(item) {
								var total = 0;
								$.each(item.barcodeList, function() {
									total += this.materialCount;
								})
								return total;
							},
							submitData: function() {
								// validate
								var errList = [];
								if (!this.form.orderNo) {
									errList.push("出门证编号不能为空！");
								}
								if (!this.form.holderName) {
									errList.push("请填写持物人！")
								}
								if (!this.form.holderOrgId) {
									errList.push("请选择持物部门！")
								}
								if (!this.form.materialTypeCode) {
									errList.push("请选择物资类型！")
								}
								if (!this.form.driverName) {
									errList.push("请填写司机姓名！")
								}
								if (!this.form.driverCardTypeCode) {
									errList.push("请选择证件类型！")
								}
								if (!this.form.driverCardId) {
									errList.push("请填写证件信息！")
								}
								if (!this.form.license) {
									errList.push("请填写车牌号！")
								}
								if (!this.form.reason) {
									errList.push("请填写出厂原因！")
								}
								if (!this.form.materialList.length) {
									errList.push("请扫码添加物料！")
								}
								if (errList.length) {
									mui.toast(errList.join("\n"))
									return;
								}
								this.form.status = 1;
								util.ajax({
									url: this.form.id ? "/outdoor/" + this.form.id : "/outdoor",
									data: JSON.stringify(this.form),
									type: this.form.id ? "put" : "POST",
									contentType: 'application/json',
									dataType: 'json',
									success: function(data) {
										if (data && data.success === false) {
											mui.toast(data.message);
										} else {
											Page.back();
										}
									},
									error: function() {
										//mui.toast("数据提交失败！")
									}
								});
							},
							getMaxSort: function() {
								var max = 0
								this.form.materialList.forEach(elem => {
									if (elem.sort > max) {
										max = elem.sort
									}
								})
								return max
							},
							getAuditList: function(id) {
								this.auditList = []
								var that = this;
								util.ajax({
									url: '/outdoor/' + id + '/audit',
									success: function(data) {
										//if (data.audit || that.form.auditUserName) {
											that.auditList.push({
												userName: that.form.auditUserName || '',
												status: '审核',
												time: that.form.auditTime || ''
											})
										//}
										//if (data.approve || that.form.approveUserName) {
											that.auditList.push({
												userName: that.form.approveUserName || '',
												status: '审批',
												time: that.form.approveTime || ''
											})
										//}
										//if (that.form.endUserName) {
											that.auditList.push({
												userName: that.form.endUserName||'',
												status: '结单',
												time: that.form.endTime || ''
											})
										//}
									}
								})
							}
						}
					});
					this.getWarehouse();
				},
				init: function() {
					this.initControl();
					this.getData();
				},
				back: function() {
					var wvB = plus.webview.currentWebview(); //获取当前窗口的WebviewObject对象，即B  
					var wvA = wvB.opener(); //获取当前窗口的创建者，即A  
					wvA.evalJS("Page.reload()"); //执行父窗口中的方法  A中的showAG方法  
					wvB.close();
				},
				getData: function() {
					var that = this;
					// 物资类型
					control.getDict(control.DICT_CODE.MATERIAL_TYPE)
						.then(function(data) {
							that.vue.materialTypeOptions = data;
							if (data && data.length) {
								that.vue.form.materialTypeCode = that.vue.form.materialTypeCode || data[0].code;
							}
						})
						.catch(function(ex) {
							mui.toast("物资类型获取失败！");
						});
					// 证件类型
					control.getDict(control.DICT_CODE.DRIVER_CARD_TYPE)
						.then(function(data) {
							that.vue.driverCardTypeOptions = data;
							if (data && data.length) {
								that.vue.form.driverCardTypeCode = that.vue.form.driverCardTypeCode || data[0].code;
							}
						})
						.catch(function(ex) {
							mui.toast("证件类型获取失败！");
						});
					// 持物部门
					control.getOrgList()
						.then(function(data) {
							that.handleOrgData(data)
							$("#holderOrgId").district({
								source: data,
								onlyLast: true,
								valueField: "id",
								readonly: that.vue.readonly,
								title: {
									0: "部门",
									1: "部门",
									2: "部门",
									3: "部门",
									4: "部门"
								},
								onSelected: function(value) {
									that.vue.form.holderOrgId = value;
								}
							});
							if (that.vue.form.holderOrgId) {
								var branch = that.findOrgById(that.vue.form.holderOrgId,data);
								$("#holderOrgId").district("setValue", that.getParentIds(branch)); 
							}
						})
						.catch(function(ex) {
							mui.toast(ex);
							mui.toast("获取部门失败！");
						});

				},
				getWarehouse: function() {
					var that = this;
					// 仓库
					control.getWarehouse().then(function(data) {
						that.vue.warehouseOptions = data
						var cache = control.getWarehouseCache();
						that.vue.form.warehouseCode = that.vue.form.warehouseCode || (cache && cache.code) || null;
						if (!that.vue.form.id && that.vue.form.warehouseCode) {
							that.getOrderNo(that.vue.form.warehouseCode);
						}
					}).catch(function(ex) {
						console.log(ex)
					});
				},
				getParentIds:function(data){
					var ids=[data.id];
					while(data.parent){
						ids.push(data.parent.id);
						data = data.parent;
					}
					return ids.reverse().join(",");
				},
				handleOrgData:function(data){
					var that = this;
					$.each(data,function(){
						this.code = this.branch;
						if(this.children && this.children.length){
							that.handleOrgData(this.children);
						}
					});
				},
				findOrgByBranch:function(branch,data){
					var org = null;
					var that = this;
					$.each(data,function(){
						if(this.branch === branch){
							org = this;
							return false;
						}else if(this.children && this.children.length){
							org = that.findOrgByBranch(branch,this.children);
						}
					});
					return org;
				},
				findOrgById:function(id,data, parent){
					var org = null;
					var that = this;
					$.each(data,function(){
						this.parent = parent;
						if(this.id == id){
							org = this;
							return false;
						}else if(this.children && this.children.length){
							org = that.findOrgById(id,this.children,this);
						}
					});
					return org;
				},
				getOrderNo: function(code) {
					var that = this;
					control.getOrderNo(code).then(function(data) {
						that.vue.form.orderNo = code + new Date().format("yyyyMMdd") + data;
					}).catch(function(ex) {
						console.log(ex)
					});
				},
				initControl: function() {
					var that = this;
					$("#codeScan").codeScan({
						onScan: function(code) {
							if (that.vue.readonly) {
								return;
							}
							code = code.trim();
							mui.toast(code);
							if (!that.vue.barcodeExist(code)) {
								control.getOldBarcode(code, that.vue.form.warehouseCode).then(function(data) {
									if (data && data.length) {
										plus.nativeUI.confirm("本仓库有更早入库的物料，请优先出库", function(i) {
											if (0 == i.index) {
												that.addBarcode(code);
											} else {
												// show barcode list
												mui('#sheet1').popover('toggle');
												that.vue.oldBarcodeList = data;
											}
										}, "物料提醒", ["不了，就用此物料", "好的，选择更早的"]);
									} else {
										that.addBarcode(code);
									}
								}).catch(function(ex) {
									//mui.toast("获取条码失败!" + code);
									that.addBarcode(code);
								})
							} else {
								mui.toast("条码已存在！" + code)
							}
						}
					})
				},
				addBarcode: function(code) {
					var that = this;
					control.getBarcode(code, that.vue.form.warehouseCode).then(function(data) {
						if (data.length) {
							$.each(data, function() {
								if (this.barcode == code) {

									// if count = 1, add 
									// else pop up prompt
									if (this.materialCount == 1) {
										that.vue.addBarcode(this);
									} else {
										var mine = this;
										var count = this.materialCount;
										mui.prompt("仓库物料数量为：" + count, this.materialCount, "输入出门数量", ["确定"], function(e) {
											e.value = e.value || count;
											mine.materialCount = parseInt(e.value);
											that.vue.addBarcode(mine);
										})
									}
									return false;
								}
							})
						} else {
							mui.toast("此条码不在仓库中！")
						}
					}).catch(function(ex) {
						mui.toast("获取条码失败！" + code);
					});
				}
			};


			mui.plusReady(function() {
				var id = plus.webview.currentWebview().data;
				if (!id) {
					Page.initVue();
				} else {
					util.ajax({
						url: '/outdoor/' + id,
						success: function(data) {
							Page.initVue(data);
						}
					});
				}
				Page.init();
			});
		</script>
	</body>

</html>
