*{
	-webkit-tap-highlight-color: transparent
}
.district-select-container {
	position: absolute;
	display: none;
	background-color: white;
	width: 100%;
	font-size: 15pt;
	 touch-action: none;
	 height:300px;
}

ul.district-select-title-container {
	padding: 0;
	height: 35px;
	border-bottom: 1px solid #D3DAD7;
	margin-bottom: 0;
	white-space: nowrap;
	line-height: 21px;
}

li.district-select-title {
	list-style: none;
	cursor: pointer;
	padding: 10px 10px;
	display:inline-block;
	height: 100%;
	margin-left: -1px;
	background: #FFFFFF;
	color: black;
}

.district-select-title {
	border: 1px solid #D3DAD7;
	border-bottom: 0;
}

.district-select-title-container {
	margin-top: 0px;
}

.district-select-title-active,
.district-select-item-active {
	background-color: #E4EBE9 !important;
	border-top: solid 3px #007aff;
	color: #007aff !important;
	font-weight: 700;
}

.district-select-item-active {
	border-top: none;
	background: #CAD7D2 !important;
	font-weight: 400;
	color: #333 !important;
}


.district-select-content-container {
	border: 1px solid #D3DAD7;
	border-top: 0;
	padding: 5px 15px;
	margin-left: -1px;
	background: #FFFFFF;
	color: black;
	overflow:auto;
	height:100%;
}

.district-select-item {
	cursor: pointer;
}


dl {
	width: 100%;
	padding-bottom: 10px;
	margin: 0;
}

dd {
	width: 100%;
	float: left;
	text-align: left;
	padding:0px 10px;
	height: 35px;
	overflow: hidden;
	margin: 0;
}

.district-select-confirm {
	background-color: #1b65ff;
	color: white;
	position: absolute;
	right: 50px;
	top: 0;
	text-decoration: none;
	padding: 5px;
	border-radius: 3px;
}

.district-select-close {
	position: absolute;
	right: 0px;
	top: 0;
	text-decoration: none;
	background-color: red;
	color: white;
	width: 20px;
	height: 20px;
	text-align: center;
	border-radius: 3px;
}

.district-select-clear {
	position: absolute;
	right: 0px;
	top: 0;
	text-decoration: none;
	background-color: #EC414D;
	color: #fff;
	height: 20px;
	padding: 2px 10px;
	text-align: center;
	border-radius: 3px;
}

.district-select-content  {
	margin-top:40px !important;
}



.mui-popover
{
    position: absolute;
    z-index: 999;

    display: none;

    width: 280px;

    -webkit-transition: opacity .3s;
            transition: opacity .3s;
    -webkit-transition-property: opacity;
            transition-property: opacity;
    -webkit-transform: none;
            transform: none;

    opacity: 0;
    border-radius: 7px;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, .1);
            box-shadow: 0 0 15px rgba(0, 0, 0, .1);
}
.mui-popover .mui-popover-arrow
{
    position: absolute;
    z-index: 1000;
    top: -25px;
    left: 0;

    overflow: hidden;

    width: 26px;
    height: 26px;
}
.mui-popover .mui-popover-arrow:after
{
    position: absolute;
    top: 19px;
    left: 0;

    width: 26px;
    height: 26px;

    content: ' ';
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);

    border-radius: 3px;
    background: #FFFFFF;
}
.mui-popover .mui-popover-arrow.mui-bottom
{
    top: 100%;
    left: -26px;

    margin-top: -1px;
}
.mui-popover .mui-popover-arrow.mui-bottom:after
{
    top: -19px;
    left: 0;
}
.mui-popover.mui-popover-action
{
    bottom: 0;

    width: 100%;

    -webkit-transition: -webkit-transform .3s, opacity .3s;
            transition:         transform .3s, opacity .3s;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);

    border-radius: 0;
    background: none;
    -webkit-box-shadow: none;
            box-shadow: none;
}
.mui-popover.mui-popover-action .mui-popover-arrow
{
    display: none;
}
.mui-popover.mui-popover-action.mui-popover-bottom
{
    position: fixed;
}
.mui-popover.mui-popover-action.mui-active
{
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}
.mui-popover.mui-popover-action .mui-table-view
{
    margin: 8px;

    text-align: center;

    color: #007aff;
    border-radius: 4px;
}
.mui-popover.mui-popover-action .mui-table-view .mui-table-view-cell:after
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    height: 1px;

    content: '';
    -webkit-transform: scaleY(.5);
            transform: scaleY(.5);

    background-color: #FFFFFF;
}
.mui-popover.mui-popover-action .mui-table-view small
{
    font-weight: 400;
    line-height: 1.3;

    display: block;
}
.mui-popover.mui-active
{
    display: block;
    opacity: 1;
    left:0;
}
.mui-popover .mui-bar ~ .mui-table-view
{
    padding-top: 44px;
}


.mui-backdrop
{
    position: fixed;
    z-index: 998;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: rgba(0, 0, 0, .3);
}

.mui-bar-backdrop.mui-backdrop
{
    bottom: 50px;

    background: none;
}

.mui-backdrop-action.mui-backdrop
{
    background-color: rgba(0, 0, 0, .3);
}

.mui-bar-backdrop.mui-backdrop, .mui-backdrop-action.mui-backdrop
{
    opacity: 0;
}
.mui-bar-backdrop.mui-backdrop.mui-active, .mui-backdrop-action.mui-backdrop.mui-active
{
    -webkit-transition: all .4s ease;
            transition: all .4s ease;

    opacity: 1;
}

.mui-popover .mui-btn-block
{
    margin-bottom: 5px;
}
.mui-popover .mui-btn-block:last-child
{
    margin-bottom: 0;
}

.mui-popover .mui-bar
{
    -webkit-box-shadow: none;
            box-shadow: none;
}

.mui-popover .mui-bar-nav
{
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.mui-popover .mui-scroll-wrapper
{
    margin: 7px 0;

    border-radius: 7px;
    background-clip: padding-box;
}

.mui-popover .mui-scroll .mui-table-view
{
    max-height: none;
}

.mui-popover .mui-table-view
{
    overflow: auto;

    max-height: 300px;
    margin-bottom: 0;

    border-radius: 7px;
    background-color: #FFFFFF;
    background-image: none;

    -webkit-overflow-scrolling: touch;
}
.mui-popover .mui-table-view:before, .mui-popover .mui-table-view:after
{
    height: 0;
}
.mui-popover .mui-table-view .mui-table-view-cell:first-child,
.mui-popover .mui-table-view .mui-table-view-cell:first-child > a:not(.mui-btn)
{
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.mui-popover .mui-table-view .mui-table-view-cell:last-child,
.mui-popover .mui-table-view .mui-table-view-cell:last-child > a:not(.mui-btn)
{
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

.mui-popover.mui-bar-popover .mui-table-view
{
    width: 106px;
}
.mui-popover.mui-bar-popover .mui-table-view .mui-table-view-cell
{
    padding: 11px 15px 11px 15px;

    background-position: 0 100%;
}
.mui-popover.mui-bar-popover .mui-table-view .mui-table-view-cell > a:not(.mui-btn)
{
    margin: -11px -15px -11px -15px;
}

.mui-popup-backdrop
{
    position: fixed;
    z-index: 998;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    -webkit-transition-duration: 400ms;
            transition-duration: 400ms;

    opacity: 0;
    background: rgba(0, 0, 0, .4);
}
.mui-popup-backdrop.mui-active
{
    opacity: 1;
}

.mui-popup
{
    position: fixed;
    z-index: 10000;
    top: 50%;
    left: 50%;

    display: none;
    overflow: hidden;

    width: 270px;

    -webkit-transition-property: -webkit-transform,opacity;
            transition-property:         transform,opacity;
    -webkit-transform: translate3d(-50%, -50%, 0) scale(1.185);
            transform: translate3d(-50%, -50%, 0) scale(1.185);
    text-align: center;

    opacity: 0;
    color: #000;
    border-radius: 13px;
}
.mui-popup.mui-popup-in
{
    display: block;

    -webkit-transition-duration: 400ms;
            transition-duration: 400ms;
    -webkit-transform: translate3d(-50%, -50%, 0) scale(1);
            transform: translate3d(-50%, -50%, 0) scale(1);

    opacity: 1;
}
.mui-popup.mui-popup-out
{
    -webkit-transition-duration: 400ms;
            transition-duration: 400ms;
    -webkit-transform: translate3d(-50%, -50%, 0) scale(1);
            transform: translate3d(-50%, -50%, 0) scale(1);

    opacity: 0;
}

.mui-scroll-wrapper
{
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;

    overflow: hidden;

    width: 100%;
}

.mui-scroll
{
    position: absolute;
    z-index: 1;

    width: 100%;

    -webkit-transform: translateZ(0);
            transform: translateZ(0);
}

.mui-scrollbar
{
    position: absolute;
    z-index: 9998;

    overflow: hidden;

    -webkit-transition: 500ms;
            transition: 500ms;
    transform: translateZ(0px);
    pointer-events: none;

    opacity: 0;
}

.mui-scrollbar-vertical
{
    top: 0;
    right: 1px;
    bottom: 2px;

    width: 4px;
}
.mui-scrollbar-vertical .mui-scrollbar-indicator
{
    width: 100%;
}

.mui-scrollbar-horizontal
{
    right: 2px;
    bottom: 0;
    left: 2px;

    height: 4px;
}
.mui-scrollbar-horizontal .mui-scrollbar-indicator
{
    height: 100%;
}

.mui-scrollbar-indicator
{
    position: absolute;

    display: block;

    box-sizing: border-box;

    -webkit-transition: .01s cubic-bezier(.1, .57, .1, 1);
            transition: .01s cubic-bezier(.1, .57, .1, 1);
    transform: translate(0px, 0px) translateZ(0px);

    border: 1px solid rgba(255, 255, 255, .80196);
    border-radius: 2px;
    background: rgba(0, 0, 0, .39804);
}

